:root {
  --light: #f8f9fa;
  --gray: #777;
  --black: #333;
  --blue: #67a7f7;
  --orange: #ff9501;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  line-height: 2em;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Inter", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.nav-brand {
  width: 180px;
  height: 60px;
}

.offcanvas-collapse {
  position: fixed;
  top: 63px; /* Height of navbar */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-left: 0.5rem;
  overflow-y: auto;
  visibility: hidden;
  background: var(--light);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.open {
  visibility: visible;
  transform: translateX(-100%);
}

.nav-link {
  font-size: large;
}

.navbar-collapse {
  flex-grow: 0;
}

header {
  overflow: hidden;
  height: 100vh;
  background: url("https://images.pexels.com/photos/9159042/pexels-photo-9159042.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: var(--light);
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  z-index: 1000;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: justify;
}

ol {
  list-style: disc inside;
  text-align: left;
}

.img0 {
  height: 300px;
  width: 500px;
}

.segmented {
  background: linear-gradient(45deg, var(--blue), var(--gray));
  opacity: 0.8;
  color: var(--light);
}

section {
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

ol > li {
  list-style: disc;
}

span {
  color: #ff0000;
}

footer {
  background: var(--black);
  color: var(--light);
}
.footer-brand {
  width: 100px;
  height: 50px;
}
.footer-link {
  text-decoration: none;
  color: var(--light);
}

.footer-link:hover {
  color: #eee;
}

.contact-links a {
  text-decoration: none;
  color: #23cff1ad;
}

.contact-links a svg {
  width: 25px;
  height: 25px;
  margin: auto 10px;
}

small > a {
  color: var(--orange);
  text-decoration: none;
}

small > a:hover {
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .navbar button {
    visibility: hidden;
  }

  .offcanvas-collapse {
    position: inherit;
    max-width: 400px;
    visibility: visible;
    background: inherit;
  }

  header p {
    text-align: center;
  }
}
