{% extends "index.html" %} {% block content %}
<header>
  <div class="row py-5">
    <div class="banner-text">
      <h1>ABOUT US</h1>
      <label>Knowledge of who we are and our mission</label>
    </div>
  </div>
</header>

<section>
  <div class="row py-5">
    <h2>Who is iCREST?</h2>
    <p>
      iCREST INTERNATIONAL EDUCATION CONSULT is one of Nigeria’s largest and
      most diverse providers of quality education. We have been at the fore
      front of revolutionized education sector, saddled with the sole
      responsibility of getting students and professionals ready for various
      international exams. We offer various type of standardized tests in
      Nigeria from the SAT, TOEFL and IELTS for college admissions to the
      Graduate Record Exams (GRE) for graduate and business schools. We also
      provide professional admissions consulting services.
    </p>
    <p>
      iCREST INTERNATIONAL EDUCATION CONSULT is a pacesetter in test and exam
      prep and admissions business. Our experienced admissions consultants can
      provide you the best admissions strategies which can help you get into
      your dream schools or colleges. Experience and qualifications are what
      sets us apart from our rivals. We provide you with all the necessary
      information needed to help you through your test/exam.
    </p>
  </div>
</section>

<section class="segmented">
  <div class="row py-5">
    <div class="col-md-6 px-3">
      <h2>Our mission</h2>
      <p>
        We believe that personal and professional advancement should be
        affordable and accessible to students at every stage of their
        educational career. We have been highly committed to meeting the higher
        education needs of students and working adults looking to be inspired
        for greatness!
      </p>
    </div>
    <div class="col-md-6">
      <img
        loading="lazy"
        src="https://images.pexels.com/photos/8419169/pexels-photo-8419169.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="img0 img-fluid rounded"
        alt=""
      />
    </div>
  </div>
</section>
{% endblock %}
